* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

.color-ffffff {
  background-color: #fff;
}

.color-f38332 {
  background-color: #f38332;
}

.color-55bdc3 {
  background-color: #55bdc3;
}

.round-border {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.content {
  padding: 0px 10vw;
}

section {
  border-radius: 5px;
  border: 1px solid #dee2e7;
  margin: 30px 0px;
}

.leftside {
  width: 22%;
  padding: 20px;
}

.rightside {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

/* Main section of page */

#main-section {
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  height: 400px;
}

#banner {
  width: 60%;
  height: 100%;
  background: url(../images/menu-banner.png) no-repeat center;
  background-size: cover;
  padding: 30px;
}

#banner h1 {
  font-size: 25px;
}

#banner strong {
  font-size: 30px;
}

#banner button {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
}

#vertical-menu {
  width: 20%;
  flex-direction: column;
}

#vertical-menu a {
  text-decoration: none;
  color: #1c1c1c;
  display: block;
  padding: 10px;
  width: 100%;
}

#vertical-menu a:hover {
  background-color: #f7fafc;
}

#vertical-menu a:active {
  background-color: #f7fafc;
}

#login-block {
  width: 18%;
  flex-direction: column;
  justify-content: space-around;
}

#login {
  background-color: #e3f0ff;
  width: 100%;
  height: 40%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}

#login div {
  width: 100%;
  justify-content: space-between;
}

#login img {
  width: 44px;
  height: 44px;
}

#login-button {
  width: 100%;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px;
}

#register-button {
  width: 100%;
  background-color: #fff;
  color: #0d6efd;
  padding: 5px;
}

.block {
  width: 100%;
  height: 28%;
  padding: 10px;
  color: #fff;
  align-items: center;
}

/* deal and offers part */

#deals-offers {
  height: fit-content;
}

#countdown > h3 {
  font-size: 20px;
}

#countdown > p {
  color: #8b96af;
  font-size: 16px;
}

#timer {
  margin-top: 10px;
}

#timer > span {
  background-color: #424242;
  color: #fff;
  padding: 0.25rem;
  font-size: 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
  width: 18%;
}

#timer > span p:nth-child(2) {
  font-size: 0.5rem;
}

.dealsitem {
  width: 20%;
  border-left: 1px solid #dee2e7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealsitem > img {
  width: 100%;
  height: auto;
}

.dealsitem > h3 {
  color: #1c1c1c;
  font-size: 1rem;
}

.dealsitem > p {
  background-color: #ffe3e3;
  color: #eb001b;
  width: fit-content;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 29px;
}

/* Block items group */

#home-decor .leftside {
  background-image: url(../images/homedecor.png);
  background-size: cover;
}

#electronics .leftside {
  background-image: url(../images/electronics.png);
  background-size: cover;
}

.leftside > h2 {
  font-size: 20px;
  width: 75%;
}

.leftside > button {
  padding: 7px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.items-group {
  height: 257px;
}

.items {
  width: 25%;
  height: 50%;
  border-left: 1px solid #dee2e7;
  padding: 15px;
  position: relative;
}

.items:nth-child(1),
.items:nth-child(2),
.items:nth-child(3),
.items:nth-child(4) {
  border-bottom: 1px solid #dee2e7;
}

.items > h4 {
  font-size: 16px;
}

.items > p {
  font-size: 13px;
  color: #8b96af;
}

.items > img {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30%;
}

/* Inquiry section */

#inquiry {
  background-image: linear-gradient(to right, #2c7cf1, #00d1ff00),
    url(../images/inquiry.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 420px;
}

#inquiry > div {
  width: 40%;
  padding: 35px;
}

#description > p:nth-child(1) {
  font-size: 32px;
  font-weight: 500;
  color: white;
}

#description > p:nth-child(2) {
  font-size: 16px;
  color: white;
}

#inquiry-form > form {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form > p {
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
}

#item-name,
#item-detail,
#item-quantity,
#item-unit {
  padding: 7px;
  font-size: 16px;
  border: 1px solid #dee2e7;
  border-radius: 5px;
  color: #1c1c1c;
}

#item-name,
#item-detail {
  width: 100%;
}

#item-detail {
  color: #8b96a5;
}

/* Recommendation section */

#recommendation {
  border: none;
}

#recommendation > h3 {
  font-size: 24px;
  color: #1c1c1c;
}

#recommendation > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #fff;
  width: 18%;
  border-radius: 6px;
  height: 300px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e3f0ff;
  line-height: 22px;
}

.item > img {
  width: 100%;
}

.item-price {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: bold;
}

.item-description {
  font-size: 16px;
  color: #8b96a5;
}

/* Extra services section */

#extra-services {
  border: none;
}

#extra-services > h3 {
  font-size: 24px;
  color: #1c1c1c;
}

#extra-services > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  background-color: #fff;
  width: 22%;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid #e3f0ff;
  line-height: 22px;
  position: relative;
}

.service > img:nth-child(1) {
  width: 100%;
  opacity: 100%;
}

.service > img:nth-child(2) {
  background-color: #e3f0ff;
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  top: 45%;
  right: 8%;
}

.service-description {
  font-size: 16px;
  color: #1c1c1c;
  padding: 20px;
  width: 75%;
}

/* Supplier section */

#suppliers {
  border: none;
}

#suppliers > h3 {
  font-size: 24px;
  color: #1c1c1c;
}

#suppliers > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.regions {
  width: 18%;
  display: flex;
  padding-top: 20px;
}

.regions > img {
  width: 40px;
  height: 40px;
}

.regions > div {
  padding: 2px 10px;
}

.regions > div p:nth-child(1) {
  font-size: 16px;
  color: #1c1c1c;
}

.regions > div p:nth-child(2) {
  font-size: 13px;
  color: #8b96a5;
}

/* Newsletter section */

#newsletter {
  background-color: #eff2f4;
  text-align: center;
  padding: 40px 0px;
}

#newsletter > h3 {
  margin: 10px 0px;
  color: #1c1c1c;
  font-size: 20px;
}
#newsletter > p {
  margin: 10px 0px;
  color: #606060;
  font-size: 16px;
}

#newsletter > div {
  margin: 10px 0px;
}

#newsletter-email {
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid #dee2e7;
  border-radius: 5px;
  color: #1c1c1c;
  background-image: url(../images/email.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
}

/* media queries */

@media screen and (max-width: 425px) {
  * {
    font: 12px;
  }
  .content {
    padding: 0px;
  }
  #main-section {
    padding: 0px;
    height: 180px;
    border: none;
  }
  #banner {
    width: 100%;
    height: 180px;
  }
  #banner h1 {
    font-size: 20px;
  }
  #banner strong {
    font-size: 22px;
  }
  #vertical-menu,
  #login-block {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  #main-section {
    padding: 0px;
    height: 250px;
    border: none;
  }
  #banner {
    width: 100%;
    height: 250px;
  }
  #banner h1 {
    font-size: 20px;
  }
  #banner strong {
    font-size: 22px;
  }
  #vertical-menu,
  #login-block {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  * {
    font-size: 16px;
  }
}
