:root {
  --main-padding: 10vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html {
  font-size: 16x;
}

/* This page contain styling for product category page */

/* Navigation list history */
#nav-history {
  color: #8b96af;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 20px var(--main-padding);
  a {
    color: #8b96af;
    text-decoration: none;
    margin-right: 5px;
  }
}

main {
  background-color: #f7fafc;
  padding: 0 var(--main-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Main content section of item */
#content-main {
  width: 100vw - var(--main-padding);
  background-color: #ffffff;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#gallery {
  width: 32%;
  #image-main {
    img {
      width: 100%;
      aspect-ratio: 1;
      border: 1px solid #dee2e7;
      border-radius: 5px;
    }
  }
  #image-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    img {
      width: 15%;
      aspect-ratio: 1;
      border: 1px solid #dee2e7;
      border-radius: 5px;
    }
    img:hover {
      cursor: pointer;
    }
    .image-active {
      border: 1px solid #000000;
    }
  }
}

#information {
  width: 36%;
  .availability {
    color: #00b517;
    font-size: 1rem;
    margin: 10px;
  }
  .item-title {
    color: #1c1c1c;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  > .blue-button {
    width: 50%;
    margin-top: 0;
    margin-left: 50%;
  }
  .rating-review {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    * {
      margin-right: 7px;
    }
    .rating {
      color: #ff9017;
    }
    .review,
    .sold {
      color: #787a80;
    }
    .dot {
      background-color: #dbdbdb;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }
  .prices {
    background-color: #fff0df;
    padding: 15px;
    display: flex;
    margin: 10px;
    .price-for-small {
      width: 33%;
      border-right: 1px solid #bdc1c8;
      padding-left: 10px;
      padding-right: 10px;
      p:nth-child(1) {
        color: #fa3434;
        font-size: 1.125rem;
      }
      p:nth-child(2) {
        color: #606060;
        font-size: 0.75rem;
      }
    }
    .price-for-medium {
      width: 33%;
      border-right: 1px solid #bdc1c8;
      padding-left: 5px;
      p:nth-child(1) {
        color: #1c1c1c;
        font-size: 1.125rem;
      }
      p:nth-child(2) {
        color: #606060;
        font-size: 0.75rem;
      }
    }
    .price-for-large {
      width: 33%;
      padding-left: 5px;
      p:nth-child(1) {
        color: #1c1c1c;
        font-size: 1.125rem;
      }
      p:nth-child(2) {
        color: #606060;
        font-size: 0.75rem;
      }
    }
  }
  .detail {
    display: flex;
    flex-wrap: wrap;
    p {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .detail-title {
      width: 35%;
      color: #8b96af;
      font-size: 1rem;
      padding-left: 10px;
    }
    .detail-description {
      width: 50%;
      color: #505050;
      font-size: 1rem;
      padding-right: 10px;
    }
    hr {
      border: 1px solid #e0e0e0;
      width: 100%;
    }
  }
  .summary {
    height: 80px;
    padding: 10px;
    font-size: 1rem;
    line-height: 22px;
    color: #505050;
    overflow: hidden;
  }
  .read-more {
    padding-bottom: 5px;
    padding-left: 10px;
    color: #0d6efd;
  }
}

#seller-info {
  width: 23%;
  .information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    .initial {
      font-size: 1.75rem;
      background-color: #c6f3f1;
      color: #4ca7a7;
      width: 20%;
      aspect-ratio: 1;
      max-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .seller-name {
      width: 80%;
      font-size: 1rem;
      color: #1c1c1c;
      padding-left: 10px;
    }
    hr {
      border: 1px solid #e0e0e0;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .seller-info-icon {
      width: 10%;
      aspect-ratio: 1;
      max-width: 20px;
      margin-bottom: 10px;
    }
    .seller-info-description {
      font-size: 1rem;
      color: #8b96af;
      width: 85%;
      margin-bottom: 10px;
    }
    .blue-button {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .white-button {
      width: 100%;
      border: 1px solid #dee2e7;
      color: #0d6efd;
    }
  }
  .save-later {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: #0d6efd;
      font-size: 1rem;
      margin-left: 10px;
    }
  }
}

/* Content detail section of product */
#content-detail {
  width: 75%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-bottom: 10px;
  nav {
    padding: 0px 10px;
    display: flex;
    color: #8b96af;
    p {
      padding: 15px;
    }
    p:hover {
      cursor: pointer;
    }
    .p-active {
      border-bottom: 2px solid #0d6efd;
      color: #0d6efd;
    }
  }
  .description {
    margin: 15px;
    font-size: 1rem;
    line-height: 24px;
    color: #505050;
  }
  table {
    width: 60%;
    margin: 15px;
    color: #505050;
    font-size: 1rem;
    border: 1px solid #e0e7e9;
    border-collapse: collapse;
    td {
      padding: 10px;
      border: 1px solid #e0e7e9;
      border-collapse: collapse;
    }
    tr td:nth-child(1) {
      background-color: #eff2f4;
    }
  }
  .feature {
    margin: 15px;
    color: #505050;
    ul {
      list-style: none;
    }
    ul li:before {
      content: "✓";
      margin-right: 10px;
    }
  }
}

/* May like products section */
#may-like-products {
  width: 24%;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  > h2 {
    color: #1c1c1c;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .product {
    margin-bottom: 10px;
    display: flex;
    img {
      width: 30%;
      aspect-ratio: 1;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
    }
    > div {
      width: 70%;
      padding: 10px;
      p:nth-child(1) {
        color: #1c1c1c;
        font-size: 1rem;
        margin-bottom: 10px;
      }
      p:nth-child(2) {
        color: #8b96af;
        font-size: 1rem;
      }
    }
  }
}

/* Recommended product section */
#recommended-products {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  h2 {
    color: 1.25rem;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  > div {
    display: flex;
    justify-content: space-between;
    .product {
      width: 15%;
      > div {
        background-color: #eeeeee;
        border-radius: 5px;
        margin-bottom: 10px;
        > img {
          width: 100%;
          aspect-ratio: 1;
          mix-blend-mode: multiply;
        }
      }
      p:nth-child(2) {
        font-size: 1rem;
        color: #505050;
        margin-bottom: 10px;
      }
      p:nth-child(3) {
        font-size: 1rem;
        color: #8b96af;
      }
    }
  }
}

/* Banner section of page */
#banner {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  background: linear-gradient(230deg, #005ade 40%, #237cfa 40%);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    p:nth-child(1) {
      font-size: 1.5rem;
      color: #ffffff;
      margin-bottom: 5px;
    }
    p:nth-child(2) {
      font-size: 1rem;
      color: #ffffff;
    }
  }
  button {
    background-color: #ff9017;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
  }
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Footer styleing */
.lower-footer {
  background-color: #ffffff;
}

/* Media queries */

@media screen and (max-width: 425px) {
  :root {
    --main-padding: 0;
  }
  main {
    padding: 0;
  }
  #nav-history {
    display: none;
  }
  #content-main {
    padding: 0px;
    padding-bottom: 10px;
    margin-top: 0;
    border: none;
    #gallery {
      width: 100vw;
      #image-main {
        width: 100%;
        background-color: #dee2e7;
        > img {
          border: none;
          border-radius: 0;
          mix-blend-mode: multiply;
        }
      }
    }
    #information {
      width: 100%;
      padding: 0;
      .availability {
        display: none;
      }
      .prices {
        background-color: #ffffff;
        padding: 0;
        .price-for-small {
          border: none;
          display: flex;
          align-items: center;
          width: fit-content;
        }
        .price-for-medium,
        .price-for-large {
          display: none;
        }
      }
      .inquiry-button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .blue-button {
          width: 80%;
        }
        .white-button {
          width: 40px;
          height: 40px;
          padding: 0;
          border: 1px solid #dee2e7;
          background: url(../images/favorite.png) 25px no-repeat;
          background-position: center;
        }
      }
      .detail {
        padding-top: 10px;
        hr {
          display: none;
        }
        p {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      > .blue-button {
        width: 90%;
        margin: 5%;
      }
    }
    #seller-info {
      width: 90%;
      .information {
        .seller-info-icon {
          width: 7%;
        }
        .seller-info-description {
          width: 20%;
        }
        > button {
          display: none;
        }
      }
      .save-later {
        display: none;
      }
    }
  }
  #recommended-products {
    margin-bottom: 0;
    > div {
      width: 100%;
      overflow: auto;
    }
    .product {
      min-width: 150px;
      padding-right: 10px;
    }
  }
  #content-detail,
  #may-like-products,
  #banner {
    display: none;
  }

  header {
    > hr {
      display: none;
    }
  }
  #upper-nav {
    padding: 5px 10px;
    #nav-logo {
      > a > img {
        transform: scaleX(-1);
      }
      > img:nth-child(2),
      .logo-img {
        display: none;
      }
    }
    #first-icons {
      .fa-icons {
        display: flex;
        align-items: center;
      }
      img {
        height: 60%;
      }
    }
  }
  #lower-nav,
  #search-box-second,
  .upper-footer {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  :root {
    --main-padding: 20px;
  }
  #nav-history {
    display: none;
  }
  #content-main {
    height: 100%;
    #information {
      width: 60%;
      .inquiry-button,
      .summary,
      .read-more {
        display: none;
      }
    }
    #seller-info {
      width: 95%;
      margin-top: 10px;
      .information {
        .seller-name {
          width: 35%;
        }
        .seller-info-icon {
          width: 7%;
        }
        .seller-info-description {
          width: 20%;
        }
        .blue-button {
          width: 50%;
        }
        .blue-button:nth-child(11),
        .white-button {
          display: none;
        }
      }
      .save-later {
        display: none;
      }
    }
  }
  #content-detail {
    width: 100%;
  }
  #recommended-products {
    > div {
      width: 100%;
      overflow: auto;
    }
    .product {
      min-width: 150px;
      padding-right: 10px;
    }
  }
  #may-like-products {
    display: none;
  }

  header {
    > hr {
      display: none;
    }
  }
  #upper-nav {
    padding: 5px 10px;
    #nav-logo {
      > a > img {
        transform: scaleX(-1);
      }
      > img:nth-child(2),
      .logo-img {
        display: none;
      }
    }
    #first-icons {
      .fa-icons {
        display: flex;
        align-items: center;
      }
      img {
        height: 60%;
      }
    }
  }
  #lower-nav,
  #search-box-second,
  .upper-footer {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --main-padding: 5vw;
  }
  #information {
    .inquiry-button,
    .summary,
    .read-more {
      display: none;
    }
  }
  #seller-info {
    .blue-button:nth-child(3) {
      display: none;
    }
  }
  #content-detail {
    width: 100%;
  }
  #may-like-products {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  #information {
    .inquiry-button,
    .summary,
    .read-more {
      display: none;
    }
  }
  #seller-info {
    .blue-button:nth-child(3) {
      display: none;
    }
  }
}
