:root {
  --main-padding: 10vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html {
  font-size: 16x;
}

/* Style sheet contain styling for category page. */

main {
  display: flex;
  padding: 0 var(--main-padding);
}

input {
  accent-color: #0d6efd;
}

/* Navigation list history */
#nav-history {
  color: #8b96af;
  background-color: #f7fafc;
  font-size: 1rem;
  padding: 20px var(--main-padding);
  a {
    color: #8b96af;
    text-decoration: none;
    margin-right: 5px;
  }
}

/* Side bar for filters */
.sidebar {
  width: 260px;
  z-index: 1;
  transition: left 0.5s linear;
  p {
    margin: 5px 10px;
    font-size: 24px;
    text-align: end;
  }
}

.sidebar-dropdown {
  display: flex;
  flex-direction: column;
  width: 260px;
  border-top: 1px solid var(--light-grey);
  position: relative;
  h2 {
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 5px;
  }
  h2:hover {
    cursor: pointer;
  }
  > img {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -1;
    width: 20px;
  }
}

.sidebar-dropdown > .filters {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: height 2s linear;
  color: #505050;
  padding-bottom: 5px;
  a {
    font-size: 1rem;
    width: fit-content;
    padding: 6px 16px;
    margin: 5px 0px;
  }
  a:hover {
    background-color: #e5f1fff7;
  }
  a:nth-last-child(1) {
    color: #0d6efd;
  }
  a:nth-last-child(1):hover {
    background-color: #f7fafc;
    color: #0b459b;
  }
  label {
    padding: 6px 16px;
  }
  > label > input,
  > label > img {
    margin-right: 10px;
    vertical-align: middle;
  }
}

/* Section that contain items list */
.items-list {
  padding: 0px 10px;
  float: left;
  > div {
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: space-between;
  }
}

#controls {
  width: 100%;
  min-width: 280px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 15px;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    select {
      margin-left: 10px;
      padding: 5px 10px;
      font-size: 1rem;
      background-color: white;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
    }
    button {
      margin-left: 10px;
      padding: 5px 20px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      img {
        vertical-align: middle;
      }
    }
    label {
      margin-left: 10px;
    }
    > div {
      margin-left: 10px;
    }
  }
}

.item-view {
  img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
}

/* List view of items */
.list-view {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
  > img {
    width: 200px;
    height: 200px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 10px;
    h2 {
      font-size: 1rem;
    }
    .price {
      font-size: 1.25rem;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      img {
        width: auto;
        height: auto;
      }
      .order-no {
        color: #8b96af;
        font-size: 1rem;
      }
      .shipping {
        color: #00b517;
        font-size: 1rem;
      }
      .dot {
        width: 7px;
        height: 7px;
        background-color: #e0e0e0;
        border-radius: 50%;
        margin: 5px 10px;
      }
    }
    .description {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
      color: #0d6efd;
    }
    .title:nth-child(2) {
      display: none;
    }
  }
  .favourite {
    img {
      width: 30px;
      height: 30px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      position: relative;
      top: -75px;
    }
  }
}

/* Grid view of items */
.grid-view {
  width: 30%;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
  }
  .detail {
    padding: 10px;
    width: 90%;
    .price {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 5px 0px;
    }
    .title {
      font-size: 1rem;
      color: #606060;
      margin: 5px 0px;
    }
    .title:nth-child(1),
    .dot,
    .order-no,
    .shipping,
    .description,
    a {
      display: none;
    }
  }
  .favourite {
    width: 10%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    img {
      width: 30px;
      height: 30px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
    }
  }
}

/* Active filters list */
#active-filters {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
  height: 36px;
  width: inherit;
  margin-bottom: 10px;
}

.item-filter {
  display: flex;
  padding: 8px;
  vertical-align: middle;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  background-color: #ffffff;
  color: #505050;
  font-size: 1rem;
  white-space: nowrap;
  margin-right: 10px;
  .cancel-filter {
    margin-left: 5px;
  }
}

/* Price range slider */

.custom-wrapper {
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 2s linear;
}

.price-input .price-field {
  display: flex;
  margin-bottom: 20px;
}

.price-field span {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 1rem;
}

.price-field input {
  flex: 1;
  height: 30px;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 9px;
  text-align: center;
  border: 0px;
  background: #e4e4e4;
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-container {
  width: 100%;
  margin-bottom: 10px;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 25%;
  right: 15%;
  position: absolute;
  border-radius: 5px;
  background: #0d6efd;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -15px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
  margin-bottom: 10px;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -webkit-appearance: none;
}

/* Media Queries */

@media screen and (max-width: 425px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: white;
    height: 100vh;
    padding-left: 10px;
  }
  .items-list {
    padding: 0px;
  }
  #controls {
    justify-content: flex-end;
    padding: 5px;
    > div > select {
      margin-left: 0px;
      padding: 5px;
    }
    > div > button {
      padding: 5px 10px;
    }
  }
  .list-view {
    padding: 10px;
    > img {
      width: 100px;
      height: 100px;
    }
  }
  .grid-view {
    float: left;
    width: 40%;
    min-width: 140px;
    > img {
      width: 100%;
      height: auto;
    }
  }
  .dot:nth-child(2),
  #controls > p,
  #controls label,
  #feature-dropdown,
  .description,
  .detail > a,
  .favourite {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: white;
    height: 100vh;
    padding-left: 10px;
  }
  .items-list {
    padding: 0px;
  }
  #controls {
    justify-content: flex-end;
    padding: 5px;
  }
  .list-view {
    padding: 10px;
    > img {
      width: 150px;
      height: 150px;
    }
    .favourite {
      img {
        top: -60px;
      }
    }
  }
  .grid-view {
    float: left;
    width: 30%;
    min-width: 140px;
    > img {
      width: 100%;
      height: auto;
    }
  }
  #controls > p,
  #controls label,
  #feature-dropdown {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar-dropdown {
    width: 200px;
  }
  #controls {
    justify-content: flex-end;
    padding: 5px;
  }
  .list-view {
    padding: 10px;
    > img {
      width: 150px;
      height: 150px;
    }
  }
  .grid-view {
    width: 40%;
  }
  .favourite,
  .sidebar > p,
  #sort-dropdown,
  #filter-button,
  #controls > p {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .sidebar > p,
  #sort-dropdown,
  #filter-button {
    display: none;
  }
}
