* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-border {
  border: none;
  background: none;
}

.no-decoration {
  text-decoration: none;
}

.text-align {
  text-align: center;
}

/* Upper navbar */
.blue-border {
  border: 2px solid #0d6efd;
}

.upper-nav {
  padding: 10px 10vw;
  justify-content: space-between;
}

#menu-button {
  margin-right: 10px;
}

.nav-logo {
  width: 10vw;
  min-width: 120px;
}

.fa-icons {
  margin: 0px 5px;
}

.fa-icons p {
  color: #8b96af;
}

.search-box search input,
.search-box select,
.search-box button {
  height: 40px;
}

#first-search-box search input {
  width: 30vw;
  padding-left: 10px;
  border-right: 0.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#first-search-box select {
  padding: 0px 5px;
}

#first-search-box button {
  width: 6vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d6efd;
  color: white;
}

#search-box-second {
  padding: 10px 10vw;
}

#search-box-second search input {
  width: 70vw;
  height: 40px;
  background-color: #f7fafc;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-box-second img {
  padding: 10px;
  height: 40px;
  background-color: #f7fafc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Lower navbar */
.lower-nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 10vw;
  font-family: Inter, sans-serif;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  margin: 0px 10px;
  color: #1c1c1c;
}

.nav-list select {
  border: none;
  width: 60px;
}

.nav-payship {
  color: #1c1c1c;
}

.payment {
  margin: 0px 10px;
}

.payment select {
  border: none;
  padding: 0px 5px;
}

.shipment {
  margin: 0px 10px;
  display: flex;
}

.shipment select {
  border: none;
  margin-left: 5px;
}

option img {
  width: 50px;
}

/* Main Content of Page*/

.content {
  background-color: #f7fafc;
  padding: 20px 10vw;
  text-align: justify;
}

/* Footer */
.upper-footer {
  padding: 50px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social {
  width: 24vw;
  padding-right: 20px;
}

.social p {
  margin: 20px 0px;
}

.social a img {
  margin: 0px 5px;
}

.col {
  width: 12vw;
}

.col a {
  display: block;
  text-decoration: none;
  margin: 10px 0px;
  color: #8b96af;
}

.lower-footer {
  padding: 10px 10vw;
  height: 70px;
  background-color: #f7fafc;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language Select {
  border: none;
  background-color: #f7fafc;
}

/* Media Queries */

@media screen and (max-width: 425px) {
  .nav-logo {
    height: 36px;
  }
  #first-search-box,
  #second-icons {
    display: none;
  }
  .fa-icons a img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .nav-logo {
    height: 40px;
  }
  #first-search-box,
  #second-icons {
    display: none;
  }
  .fa-icons a img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 14px;
  }
  .nav-logo {
    height: 42px;
  }
  #menu-button,
  #first-icons,
  #search-box-second {
    display: none;
  }
  .fa-icons a img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1025px) {
  * {
    font-size: 16px;
  }
  .nav-logo {
    height: 46px;
  }
  #menu-button,
  #first-icons,
  #search-box-second {
    display: none;
  }
  .fa-icons a img {
    width: 20px;
    height: 20px;
  }
}
