/* This page conatin styling for basic structure of website. */

/* Variable for different font sizes */
:root {
  --white: #ffffff;
  --red: #eb001b;
  --pink: #ffe3e3;
  --icons-color: #d1e7ff;
  --blue: #0d6efd;
  --text-color: #1c1c1c;
  --black: #000000;
  --cyan: #55bdc3;
  --dark-back-color: #c7e1ff;
  --hr-color: #e0e0e0;
  --alice-blue: #e3f0ff;
  --orange: #f38332;
  --blue-linear-stat: #2c7cf1;
  --blue-linear-end: #00d1ff;
  --back-color: #f7fafc;
  --nav-item-back: #eff2f4;
  --dark-grey: #8b96af;
  --light-grey: #dee2e7;
  --text-grey: #606060;
  --text-black: #1c1c1c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--back-color);
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

/* General purpose classes */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.no-border {
  border: none;
}

.no-decoration {
  text-decoration: none;
}

.text-align {
  text-align: center;
}

.padding {
  padding-left: 10vw;
  padding-right: 10vw;
}

button:hover {
  cursor: pointer;
}

.blue-button {
  background-color: var(--blue);
  color: var(--white);
  width: fit-content;
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.white-button {
  background-color: var(--white);
  color: var(--black);
  width: fit-content;
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.blue-border {
  border: 2px solid #0d6efd;
}

hr {
  border: 0.5px solid var(--hr-color);
}

/* Navbar styling start */
.nav-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Upper part of navbar */
#upper-nav {
  background-color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-img {
  width: 10vw;
  min-width: 100px;
  border: none;
}

.menu-img {
  margin-right: 10px;
  background-color: var(--white);
  border: none;
}

/* Side menu bar */

.side-menu {
  background-color: var(--white);
  width: 80%;
  max-width: 280px;
  height: 100vh;
  position: absolute;
  position: fixed;
  top: 0px;
  left: -280px;
  z-index: 1;
  transition: left 0.5s linear;
}

.side-menu > div {
  background-color: #979797;
  padding: 25px;
}

.side-menu > div > div {
  margin-top: 10px;
}

.side-menu > div > p {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
}

.side-menu > a {
  display: block;
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.side-menu > a > img {
  margin-right: 15px;
}

.side-menu > a:hover {
  background-color: var(--back-color);
}

.side-menu > a:active {
  color: var(--blue);
}

.fa-icons {
  margin: 0px 10px;
  overflow: hidden;
}

.fa-icons a img {
  height: 50%;
}

.fa-icons a p {
  color: #8b96af;
  font-size: 0.75rem;
}

.search-box search input,
.search-box select,
.search-box button,
.fa-icons {
  height: 40px;
}

#first-search-box search input {
  width: 25vw;
  padding-left: 10px;
  border-right: 0.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#first-search-box select {
  padding: 0px 5px;
}

#first-search-box button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px 15px;
}

#search-box-second {
  background-color: #fff;
}

#search-box-second search {
  flex-grow: 1;
}

#search-box-second search input {
  width: 100%;
  height: 40px;
  background-color: #f7fafc;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-box-second img {
  padding: 10px;
  height: 40px;
  background-color: #f7fafc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Lower part of navbar */
#lower-nav {
  background-color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  min-width: 100%;
}

.nav-list a {
  margin: 0px 10px;
  color: #1c1c1c;
}

.nav-list select {
  width: 60px;
}

#payment,
#shipment {
  margin: 0px 10px;
}

#payment Select,
#shipment Select {
  padding: 0px 5px;
}

#first-nav-items a {
  text-decoration: none;
}

#second-nav-items {
  align-items: center;
  overflow: auto;
}

#second-nav-items a {
  text-decoration: none;
  background-color: var(--nav-item-back);
  color: var(--blue);
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  margin-left: 0px;
}

::-webkit-scrollbar {
  display: none;
}

/* Navbar styling end */

/* Footer */
.upper-footer {
  background-color: #fff;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.upper-footer div {
  margin: 5px 0px;
}

#social *,
#app-link *,
.col * {
  margin: 5px 0px;
}

#footer-nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

#social {
  width: 30%;
}

#social-links a img {
  width: 3vw;
  min-width: 20px;
  max-width: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
}

.col a {
  display: block;
  text-decoration: none;
  color: #8b96af;
}

#app-link {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 20%;
}

#app-links a img {
  width: 10vw;
  min-width: 100px;
}

.lower-footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}

#language select {
  background-color: var(--back-color);
}

/* Media Queries */

@media screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
  .padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  #first-search-box,
  #second-icons,
  #first-nav-items,
  #nav-payment-shipment,
  nav hr {
    display: none;
  }

  .upper-footer {
    flex-direction: column;
  }
  #social {
    width: 60%;
    text-align: center;
  }
  #footer-nav-links {
    width: 100%;
    justify-self: stretch;
  }
  .col {
    width: 50%;
  }
  #app-link {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  #first-search-box,
  #second-icons,
  #first-nav-items,
  #nav-payment-shipment,
  nav hr {
    display: none;
  }

  .upper-footer {
    flex-direction: column;
  }
  #social {
    width: 50%;
    text-align: center;
  }
  #footer-nav-links {
    width: 100%;
    justify-self: stretch;
  }
  .col {
    width: 25%;
  }
  #app-link {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #nav-logo > .menu-img,
  #first-icons,
  #search-box-second,
  #second-nav-items {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  #nav-logo > .menu-img,
  #nav-logo > a:nth-child(1),
  #first-icons,
  #search-box-second,
  #second-nav-items {
    display: none;
  }
}
